@import "variables";

// dimensions
@padding   : 1rem;
@header-height  : 4rem;

// vscode: removes focus outline  
*:focus {
    outline: none;
}

.agda-mode {
    height: 100%;
}

.agda-mode-keyboard {
    @button-height: 1.5rem;
    @button-margin: 0.2rem;


    // position
    position  : absolute;

    &.querying {
        top: @header-height*2;
    }

    // dimension
    width     : calc(100% - 2.5rem); // why 2.5 ???
    min-height: @header-height;

    &.deactivated {
        display: none
    }

    // color
    background: @header-background;

    .agda-mode-keyboard-sequence-and-candidates {
        display    : flex;
        // dimensions
        padding    : @padding 0;
        min-height : 2rem;
        line-height: 2rem;
        .agda-mode-keyboard-sequence {
            padding      : 0rem @padding;
            flex-grow    : 100;
            background   : @body-background;
            font-weight  : bold;
        }

        .agda-mode-keyboard-candidates {
            margin-left: @padding;

            width      : calc(@button-height * 10 + @button-margin * 20);
            flex-grow  : 0;
            font-weight: bold;
        }
    }

    .agda-mode-keyboard-suggestions {
        max-width: 100%;
        display  : flex;
        flex-wrap: wrap;
        padding-bottom  : @padding;
    }

    .agda-mode-key {
        align-self: center;


        background: @input-background;
        color     : @foreground;

        top          : 0;
        width        : @button-height;
        height       : @button-height;
        line-height  : @button-height;
        margin       : @button-margin;
        padding      : 0;
        border       : 0;
        border-radius: @button-margin;
        text-align   : center;

        &:hover {
            background: @selection;
            cursor    : pointer;
        }

        &.selected {
            background: @selection;
        }
    }
}

.agda-mode-header {
    height : @header-height;
    padding: 0 @padding;

    background: @header-background;

    line-height: @header-height;
    font-size  : 150%;
    font-weight: bold;

    &.success {
        color: @success
    }

    &.error {
        color: @error
    }

    &.warning {
        color: @warning
    }
}

.agda-mode-body {
    @line-height: 1.5rem;

    .codicon {
        vertical-align: middle;
    }

    white-space: pre;
    background : @body-background;
    font-size  : 125%;
    line-height: @line-height;
    padding: @padding;

    li.labeled {
        background : @header-background;
        padding: @padding;
        margin: @padding 0;

        span.label {
            font-variant: small-caps;
            font-weight: bolder;
            float: right;
            color: @success

        }
        span.warning-label {
            font-variant: small-caps;
            font-weight: bolder;
            float: right;
            color: @warning;
        }
        span.error-label {
            font-variant: small-caps;
            font-weight: bolder;
            float: right;
            color: @error;
        }
    }
        
    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

}

// the total height of .agda-mode-query should be the same as @header-height
.agda-mode-query {
    white-space: pre;
    padding: 0 @padding @padding @padding;
    
    input {
        font-size  : 150%;
        padding: @padding;
        height: 1rem;

        background-color: @input-background;
        border          : none;
        color           : @input;
    }

    input::-webkit-input-placeholder {
        color: @inputPlaceholder;
    }
}


// components
.component-link {
    color: @link;

    .codicon-link::after  {
        content: " ";
        white-space: pre;
    }
}
.component-link:hover {
    color: @link-hover;
    cursor: pointer;
    text-decoration: underline;
}
