@header-height: 60px;


.agda-mode {
    // background: var(--vscode-sideBar-background);
    // background: red;
    height: 100%;
}

.agda-mode-header {
    /* color: var(--vscode-panelTitle-activeForeground);
    background: var(--vscode-statusBar-background); */
    height: @header-height;

    // background: var(--vscode-sideBarSectionHeader-background);
}

.agda-mode-body {
    background: var(--vscode-sideBar-background);
}