// colors of editor markers
@error   : var(--vscode-editorError-foreground);
@warning : var(--vscode-editorWarning-foreground);
@success : var(--vscode-editorInfo-foreground);


// colors for the panel

@foreground        : var(--vscode-foreground);
@selection         : var(--vscode-editor-selectionBackground);
@header-background : var(--vscode-editor-background);
@body-background   : var(--vscode-sideBar-background);

@input            : var(--vscode-input-foreground);
@inputBorder      : var(--vscode-input-border);
@inputPlaceholder : var(--vscode-input-placeholderForeground);
@input-background : var(--vscode-input-background);


@link:var(--vscode-textLink-foreground);
@link-hover:var(--vscode-textLink-activeForeground);